* {
	box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
header{ 
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    background: rgba(255,255,255,.1);
    transition: .5s;
    width: 100%;
    height: 90vh;
    background:url(../images/restaurent-back11.jpg)center/cover;
    position:relative;
}
.text h2{
    font-size: 4em;
}

.contact1 {
  width: 95%;
  min-height: 100%;

  padding: 15px;
    border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0,0,0,.4);
}
.chat{
    width: 100%;
    display: flex;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.contact1-form {
  width: 40%;
    padding: 0px;
}



input.input1 {
  height: 50px;
  border-radius: 15px;
  padding: 0 30px;
}


textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
    background-color: #000;
    color: #fff;
}

.input1 {
  display: block;
  width: 100%;
  background: #000;
  font-size: 20px;
  font-style: italic;
  line-height: 1.5;
  color: #fff;
}
.wrap-input{
    padding: 10px;
}
.wrap-input h2{
    text-align: center;
    font-size: 30px;
    color: #e2b83a;
    font-style: italic;
}
.picture{
    
    padding: 20px;
    display: flex;
    
}


h1{
    font-size: 45px;
	text-align: center;
	color:#000;
        font-family: 'Lobster', cursive;
}

button{
	display: block;
	background-color: #fff;
	border: none;
    border: 2px solid #000;
	color: black;
	padding: 5px 10px;
    margin-top: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	border-radius: 4px;
	

}
button:hover{
    background-color: #000;
    color: #fff;
}



@media (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px;
  }

  

  .contact1-form {
    width: 100%;
      padding: 0;
  }
    .picture img{
        width: 100%;
        
    }
    .picture{padding: 0;}
    
}


